<form>
    <p>
        <label>Username:</label>
        <input type="text" id="inputUsername">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" id="inputPassword">
    </p>
    <p>
        <button type="submit" id="buttonSignup">Signup</button>
        <button type="submit" id="buttonLogin">Login</button>
    </p>
</form>
